body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* #app { margin: 0; padding: 0; width: 100%; padding: 100%;} */
#app {
  width: 100%;
  height: 100%;
}

.anime {
  display:block;
  width: 100%;
  font-size: 150px;
  position: absolute;
  top: 0px;
}

.hidden {display: none;}

#body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: auto auto 1fr / auto;
  grid-column-gap: 1em;
}

#body.dark {
  background-color: #454545;
  color: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: capitalize;
}

header {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 150px;
  width: auto;
}

nav {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dark nav {
  background-color: #343434;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5em;
  color: #454545;
}

.dark nav a {
  color: #efefef;
}

nav a.active {
  background-color: rgb(222, 222, 222);
}

.dark nav a.active {
  background-color: rgba(222, 222, 222, 0.2);
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}


main {
  padding: 0 2em;
  grid-column: 2 / 3;
}

a.selected {
  font-weight: 700;
}
